# cat with beautiful colors
alias pcat='pygmentize -O style=monokai -f console256 -g'

if [ "$(uname)" == "Darwin" ]; then
    # Do something under Mac OS X platform        
    colorflag="-G"
elif [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then
    # Do something under GNU/Linux platform
    colorflag="--color"

    alias pbcopy='xsel --clipboard --input'
    alias pbpaste='xsel --clipboard --output'
fi

alias ls='ls ${colorflag}'
alias ll='ls -la ${colorflag}'

alias svnnew="svn st | egrep '^\?' | tr -d ?"
alias svnnewadd="svn st | egrep '^\?' | tr -d ?| xargs svn add"
alias svnnewrm="svn st | egrep '^\?' | tr -d ?| xargs rm -rf"
alias svndf="svn diff | colordiff | less -R"
alias tmuxclip="tmux show-buffer | xclip -sel clip -i"

